@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@0,500;1,500&family=Roboto:ital,wght@0,500;1,400&display=swap");
:root {
  --primary-color: #8da8f2;
}
body {
  background-color: #101626;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit !important;
}
.h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}
.h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}
.h3 {
  font-size: clamp(1.5rem, 3.5vw, 2rem);
}
.h4 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
}
.h5 {
  font-size: clamp(1.125rem, 2.5vw, 1.5rem);
}
.h6 {
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.about .img-container {
  border-radius: 50%;
  width: clamp(14rem, 30vw, 20rem);
  height: clamp(14rem, 30vw, 20rem);
  background-color: black;
}
.about .img-container img {
  object-fit: cover;
  border-radius: inherit;
  height: 100%;
}
.primary-color {
  color: var(--primary-color);
}
.primary-btn {
  background-color: #374059;
  color: white !important;
}
.primary-btn:hover {
  background-color: #374059;
  color: white !important;
}
.secondary-btn {
  border-color: var(--primary-color);
  color: var(--primary-color) !important;
}
.projects img {
  border-radius: 8px;
}
.phone-img {
  height: 440px;
  border-radius: 25px;
}
.skill-icon {
  width: 28px;
  height: 32px;
  margin-left: 1.5rem;
  animation: upDown 2.5s infinite ease-in-out;
}
#contact form {
  width: 100%;
}
.success-message {
  position: absolute;
  opacity: 0;
  bottom: 1rem;
  right: 3rem;
  color: white;
  transition: transform 1.3s ease, opacity 0.7s ease;
  background-color: #374059;
  background-color: var(--primary-color);
  padding: 1rem;
}
.active-message {
  transform: translateY(-100%);
  opacity: 1;
}
.contact-mail i {
  transition: all ease-in-out 0.5s;
}
.contact-mail:hover > i {
  transform: translateY(-20%);
}

.sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}
.sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  border-radius: 6px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.sweep-to-right:hover,
.sweep-to-right:focus,
.sweep-to-right:active {
  color: white !important;
}
.sweep-to-right:hover:before,
.sweep-to-right:focus:before,
.sweep-to-right:active:before {
  transform: scaleX(1);
}
.underline-reveal {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  height: 4px;
  transform: translateY(4px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline-reveal:hover:before,
.underline-reveal:focus:before,
.underline-reveal:active:before {
  transform: translateY(0);
}
@media (min-width: 768px) {
  #contact form {
    width: 50%;
  }
}
@media (max-width: 37.5rem) {
  section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.animated {
  transition: all 0.5s ease-in-out;
}
.slide-from-left {
  transform: translateX(-100%);
}
.blurry {
  filter: blur(5px);
}
@keyframes upDown {
  0%,
  100% {
    transform: translate(-50%, -20%) translateY(0);
  }
  50% {
    transform: translate(-50%, -40%);
  }
}
